.cart-preview__dialog {
  background-color: var(--color-bg-primary);
  display: none;
  height: 100%;
  inset-inline-end: 0;
  inset-inline-start: auto;
  max-width: 100%;
  min-width: 25%;
  transform: translateX(100%);
  transition:
    transform ease-out var(--transition-time-default),
    display ease-out var(--transition-time-default),
    overlay ease-out var(--transition-time-default);
  transition-behavior: allow-discrete;
  width: 20rem;
  z-index: 10;
}

.cart-preview__dialog[open] {
  display: block;
  transform: translateX(0);
}

@starting-style {
  .cart-preview__dialog[open] {
    transform: translateX(100%);
  }
}

.cart-preview__close-btn {
  align-items: center;
  background-color: var(--color-bg-primary);
  border-radius: 0 0 0 100%;
  color: var(--color-text-primary);
  display: flex;
  height: 3.5rem;
  justify-content: center;
  padding: var(--spacing-medium) var(--spacing-medium) var(--spacing-large)
    var(--spacing-large);
  position: absolute;
  right: 0;
  top: 0;
  transition: background-color ease-out var(--transition-time-fast);
}

.cart-preview__close-btn fa-icon {
  font-size: 1.25rem;
  display: flex;
}

.cart-preview__close-btn:hover {
  background-color: var(--color-bg-primary--hover);
}

.cart-preview__close-btn:focus-visible {
  outline-offset: -2px;
}

.cart-preview__body {
  padding: var(--spacing-medium);
}

.cart-preview__heading {
  font-size: var(--font-size-x-large);
  margin: 0 4rem 0 0;
}

.cart-preview__empty-state {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-weight: var(--font-weight-semibold);
}

.cart-preview__empty-state-img {
  max-width: 100%;
}

.cart-preview__list {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0;
}

.cart-preview__list-item-wrapper {
  align-items: flex-end;
  border-bottom: 1px solid var(--color-border-secondary);
  display: flex;
  flex-direction: column;
  padding: var(--spacing-medium) 0 var(--spacing-large);
}

.cart-preview__list-item-remove-btn {
  background-color: transparent;
  color: var(--color-text-primary);
}

.cart-preview__list-item-remove-btn:hover {
  background-color: var(--color-bg-primary--hover);
}

.cart-preview__list-item {
  display: flex;
  gap: var(--spacing-medium);
  width: 100%;
}

.cart-preview__list-item-left-side-info,
.cart-preview__list-item-right-side-info {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-small);
}

.cart-preview__list-item-color-wrapper {
  display: flex;
  gap: var(--spacing-small);
}

.cart-preview__list-item-size {
  font-weight: var(--font-weight-semibold);
}

.cart-preview__list-item-img {
  border-radius: var(--border-radius-small);
  flex-shrink: 0;
  height: 4rem;
  object-fit: cover;
  width: 4rem;
}

.cart-preview__list-item-color {
  border-radius: var(--border-radius-small);
  height: 1.5rem;
  width: 1.5rem;
}

.cart-preview__list-item-name {
  font-size: var(--font-size-medium-large);
  font-weight: var(--font-weight-bold);
}

.cart-preview__list-item-total-price {
  font-weight: var(--font-weight-bold);
}

.cart-preview__total-price {
  font-size: var(--font-size-medium-large);
  font-weight: var(--font-weight-bold);
  padding: var(--spacing-medium) 0;
}

.cart-preview__forward-btn-wrapper {
  width: 100%;
}

.cart-preview__forward-btn {
  max-width: 100%;
  text-align: center;
  width: 100%;
}
