<dialog class="cart-preview__dialog" aria-labelledby="cart-heading" #dialog>
  <button
    class="cart-preview__close-btn"
    aria-label="Sulge ostukorv"
    (click)="close()"
  >
    <fa-icon [icon]="faXmark"></fa-icon>
  </button>

  <div class="cart-preview__body">
    <h1 class="cart-preview__heading" id="cart-heading">Ostukorv</h1>

    @if (items.length < 1) {
      <div class="cart-preview__empty-state">
        <img
          class="cart-preview__empty-state-img"
          alt="Illustratsioon draakonist, kes on oma pea pistnud tühja paberkotti"
          src="./empty-cart.png"
        />
        <div class="cart-preview__empty-state-text">Siin pole veel midagi</div>
      </div>
    } @else {
      <ul class="cart-preview__list">
        <li *ngFor="let item of items" class="cart-preview__list-item-wrapper">
          <button
            class="cart-preview__list-item-remove-btn"
            (click)="removeItem(item)"
            [attr.aria-label]="
              'Kustuta ' +
              item.color.name +
              item.size.name +
              item.product.name +
              ' - ' +
              item.product.subcategory
            "
          >
            <fa-icon [icon]="iconRemoveItem"></fa-icon>
          </button>

          <div class="cart-preview__list-item">
            <div class="cart-preview__list-item-left-side-info">
              <img
                alt=""
                [src]="item.product.images[1].imageUrl + '?thumbnail=true'"
                class="cart-preview__list-item-img"
              />

              <div class="cart-preview__list-item-color-wrapper">
                <div
                  class="cart-preview__list-item-color"
                  [style]="{ 'background-color': item.color.hexCode }"
                ></div>
                <div class="cart-preview__list-item-size">
                  {{ item.size.name }}
                </div>
              </div>
            </div>

            <div class="cart-preview__list-item-right-side-info">
              <div>
                <a
                  (click)="close()"
                  [routerLink]="'/product/' + item.product.id"
                  class="cart-preview__list-item-name"
                >
                  {{ item.product.name }}
                </a>
                <div>{{ item.product.subcategory.name }}</div>
              </div>

              <div class="cart-preview__price-wrapper">
                <div>{{ item.amount }} x {{ item.product.price }} €</div>
                <div class="cart-preview__list-item-total-price">
                  {{ item.totalPrice }} €
                </div>
              </div>
            </div>
          </div>
        </li>
      </ul>

      <div class="cart-preview__total-price">
        Kokku {{ totalPrice.toFixed(2) }} €
      </div>

      <div class="cart-preview__forward-btn-wrapper">
        <a
          class="cart-preview__forward-btn util-link-button"
          (click)="close()"
          [routerLink]="'/cart'"
          >Edasi ostu vormistama
        </a>
      </div>
    }
  </div>
</dialog>
