<dialog class="cart-preview__dialog" aria-labelledby="cart-heading" #dialog>
  <button
    class="cart-preview__close-btn"
    aria-label="Sulge ostukorv"
    (click)="close()"
  >
    <fa-icon [icon]="faXmark"></fa-icon>
  </button>

  <h1 class="cart-preview__heading" id="cart-heading">Ostukorv</h1>

  <ul class="cart-preview__list">
    <li *ngFor="let item of items" class="cart-preview__list-item">
      {{ item.product.name }}
      {{ item.amount }}
      {{ item.color.name }}
      {{ item.size.name }}
      {{ item.product.price }}
      {{ item.totalPrice }}
    </li>
  </ul>

  <div>Kokku {{ totalPrice.toFixed(2) }}</div>
</dialog>
