<dialog class="cart-preview__dialog" aria-labelledby="cart-heading" #dialog>
  <button
    class="cart-preview__close-btn"
    aria-label="Sulge ostukorv"
    (click)="close()"
  >
    <fa-icon [icon]="faXmark"></fa-icon>
  </button>

  <h1 class="cart-preview__heading" id="cart-heading">Ostukorv</h1>

  <ul class="cart-preview__list">
    <li *ngFor="let item of items" class="cart-preview__list-item">
      <img
        alt=""
        [src]="item.product.images[1].imageUrl + '?thumbnail=true'"
        class="cart-preview__list-item-img"
      />
      <div>
        <div class="cart-preview__list-item-name">{{ item.product.name }}</div>
        <div>{{ item.product.subcategory.name }}</div>

        <div>{{ item.color.name }}</div>
        <div>{{ item.size.name }}</div>

        <div>{{ item.amount }} tk</div>

        <div>{{ item.product.price }} € / tk</div>
        <div>{{ item.totalPrice }} € kokku</div>
      </div>

      <button
        (click)="removeItem(item)"
        [attr.aria-label]="
          'Kustuta ' + item.product.name + ' - ' + item.product.subcategory
        "
      >
        <fa-icon [icon]="iconRemoveItem"></fa-icon>
      </button>
    </li>
  </ul>

  <div>Kokku {{ totalPrice.toFixed(2) }}</div>
</dialog>
