.loader {
  align-items: center;
  display: flex;
  justify-content: center;
}

.loader__animation {
  animation: spin 3s infinite linear;
  aspect-ratio: 1 / 1;
  background-color: red;
  max-width: 100%;
  width: 200px;
}

.loader.loader--full-page {
  background-color: var(--color-bg-primary);
  border-radius: var(--border-radius-medium);
  flex-direction: column;
  gap: var(--spacing-medium);
  margin: auto;
  padding: var(--spacing-large);
  z-index: 20;
}

.loader.loader--full-page .loader__animation {
  max-width: 75%;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
