@if (fullPage) {
  <dialog
    (keydown)="onDialogKeydown($event)"
    class="loader loader--full-page"
    #dialog
    >
    <img
      src="./loader.png"
      alt="Draakon oma saba taga ajamas"
      class="loader__animation"
      />
    <div class="util-sr-only">Laadin sisu, palun oota</div>
  </dialog>
} @else {
  <div class="loader">
    <img
      src="./loader.png"
      alt="Draakon oma saba taga ajamas"
      class="loader__animation"
    />
    <div class="util-sr-only">Laadin sisu, palun oota</div>
  </div>
}

