<footer class="footer">
  <div class="util-container">
    <app-logo-full-name class="footer__logo"></app-logo-full-name>
  </div>
  <div class="util-container">
    <div class="footer__body">
      <div class="footer__left">
        <div>
          E-mail:
          <a href="mailto:lavendlik@gmail.com">lavendlik&#64;gmail.com</a>
        </div>
        <div>Soovid teavitust, kui lisame uusi tooteid?</div>
        <button>Liitu uudiskirjaga</button>
      </div>
      <div class="footer__right">
        <a href="/">Küpsised</a>
        <a href="/">Ligipääsetavus</a>
        <a href="/">Teenuse tingimused</a>
        <a href="/">Privaatsuspõhimõtted</a>
      </div>
    </div>
  </div>
  <div class="footer__end">
    <div class="util-container">2025 &copy; Lavendlik OÜ</div>
  </div>
</footer>
