<footer class="footer">
  <div class="util-container">
    <app-logo-full-name class="footer__logo"></app-logo-full-name>
  </div>
  <div class="util-container">
    <div class="footer__body">
      <div class="footer__left">
        <div>
          Kõik küsimused, ettepanekud ja mõtted on oodatud aadressil
          <a href="mailto:lavendlik@gmail.com">lavendlik&#64;gmail.com</a>
        </div>
        <div>
          Soovid teavitust, kui lisame uusi tooteid? Liitu meie uudiskirjaga!
        </div>
        <div>
          <label class="util-form-label" for="newsletter-email">E-mail</label>
          <div class="footer__newsletter-input-wrapper">
            <input
              class="footer__newsletter-input"
              id="newsletter-email"
              type="email"
              placeholder="sinu@email.ee"
            />
            <button>Liitu</button>
          </div>
        </div>
      </div>
      <div class="footer__right">
        <a routerLink="/cookies">Küpsised</a>
        <a href="/">Ligipääsetavus</a>
        <a href="/terms-conditions">Müügitingimused</a>
        <a href="/">Privaatsuspõhimõtted</a>
      </div>
    </div>
  </div>
  <div class="footer__end">
    <div class="util-container">2025 &copy; Lavendlik OÜ</div>
  </div>
</footer>
