.home-intro-banner {
  background: linear-gradient(var(--color-bg-accent) 0%, #475993 100%);
  color: var(--color-text-accent);
}

.home-intro-banner .util-subheading {
  color: var(--color-text-accent-secondary);
}

.home-intro-banner__container {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  min-height: 20rem;
  position: relative;
}

.home-intro-banner__text {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-medium);
  padding: var(--spacing-large) 0;
  z-index: 1;
}

.home-intro-banner__heading {
  /* flex allows shrinking when space runs out */
  display: flex;
  height: 6rem;
}

.home-intro-banner__logo {
  background-image: url("../../../assets/icons/lavendlik-logo.svg");
  background-position: 100% 50%;
  background-repeat: no-repeat;
  background-size: auto 200%;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 0;
}

.home-body {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-xx-large);
  margin-block: var(--spacing-xx-large);
}

.home-body__featured-products {
  display: flex;
  flex-wrap: wrap;
  gap: var(--spacing-medium);
  justify-content: center;
  margin-top: var(--spacing-x-large);
}

.home-body__featured-products > * {
  width: 100%;
}

.home-body__arguments-heading {
  margin-bottom: var(--spacing-large);
}

.home-body__arguments {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-medium);
}

.home-body__argument {
  align-items: center;
  display: flex;
  gap: var(--spacing-medium);
  width: 100%;
}

.home-body__argument-icon {
  font-size: 1.5rem;
}

@container util-container (max-width: 45.99em) {
  .home-intro-banner__logo {
    background-position: left 50% top 50%;
  }
}

@media (max-width: 48em) {
  .home-intro-banner__logo {
    background-position: left 50% top 50%;
  }
}
