<app-preorder></app-preorder>

<div class="util-container util-container--y-padded home-body">
  <div>
    <div class="home-body__arguments">
      <div class="home-body__argument">
        <fa-icon
          [icon]="iconDesignPlace"
          class="home-body__argument-icon"
        ></fa-icon>
        <div>Tooted disainitud ja tikitud Tartus</div>
      </div>

      <div class="home-body__argument">
        <fa-icon
          [icon]="iconDeliveryMethod"
          class="home-body__argument-icon"
        ></fa-icon>
        <div>Kohaletoimetamine DPD pakiautomaatidesse üle Eesti</div>
      </div>
    </div>
  </div>
</div>
