:host {
  max-width: 20rem;
}

.product-card {
  background-color: var(--color-bg-tertiary);
  border-radius: var(--border-radius-medium);
  box-shadow: 1px 1px 8px var(--color-bg-shadow);
  position: relative;
}

.product-card:hover .product-card__img.product-card__img--hover {
  display: block;
}

.product-card:hover .product-card__img:not(.product-card__img--hover) {
  display: none;
}

.product-card__img {
  border-radius: var(--border-radius-medium) var(--border-radius-medium) 0 0;
  height: 12rem;
  object-fit: cover;
  width: 100%;
}

.product-card__img.product-card__img--hover {
  display: none;
}

.product-card__body {
  padding: var(--spacing-medium);
}

.product-card__name {
  font-size: var(--font-size-large);
  font-weight: var(--font-weight-semibold);
}

.product-card__name::after {
  content: "";
  position: absolute;
  inset: 0;
}

.product-card__category {
  color: var(--color-text-secondary);
}

.product-card__footer {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  gap: var(--spacing-small);
  justify-content: space-between;
  margin-top: var(--spacing-small);
}

.product-card__color-box {
  border-radius: var(--border-radius-small);
  height: 1rem;
  width: 1rem;
}

.product-card__price {
  font-weight: var(--font-weight-semibold);
}
