<div class="product-card">
  <img class="product-card__img" [src]="imgSrc" alt="" />
  <img
    class="product-card__img product-card__img--hover"
    [src]="imgSrcHover"
    alt=""
  />

  <div class="product-card__body">
    <a [routerLink]="productUrl" class="product-card__name">{{
      productName
    }}</a>
    <div class="product-card__category">{{ category }}</div>

    <div class="product-card__footer">
      <div class="product-card__colors">
        @for (color of colors; track color) {
          <div class="product-card__color">
            <div
              class="product-card__color-box"
              [style]="{ 'background-color': color.hexCode }"
            ></div>
            <div class="util-sr-only">
              {{ color.name }}
            </div>
          </div>
        }
      </div>

      <div class="product-card__price">{{ price }}</div>
    </div>
  </div>
</div>
