<div class="util-container util-container--y-padded">
  <ng-container *ngIf="products; else loading">
    <h1 class="category-heading">{{ categoryDisplayName }}</h1>

    <div class="category-products">
      <app-product-card
        *ngFor="let product of products"
        [category]="
          product.subcategory
            ? product.subcategory.name
            : product.category.displayName
        "
        [colors]="product.colors"
        [imgSrc]="
          'http://bee.local:5005' +
          product.images[0].imageUrl +
          '?thumbnail=true'
        "
        [imgSrcHover]="
          'http://bee.local:5005' +
          product.images[1].imageUrl +
          '?thumbnail=true'
        "
        [price]="product.price + ' €'"
        [productName]="product.name"
        [productUrl]="'/product/' + product.id"
      ></app-product-card>
    </div>
  </ng-container>

  <ng-template #loading>
    <app-loader></app-loader>
  </ng-template>
</div>
