<ng-container *ngIf="product; else loading">
  <div class="util-y-padding">
    <div class="util-container">
      <h1 class="product-heading">{{ product.name }}</h1>
      <div class="util-subheading">{{ product.subcategory.name }}</div>
    </div>

    <div class="product-images-preview">
      <div class="util-container">
        <div class="product-images-preview__images">
          <img
            *ngFor="let image of product.images"
            alt=""
            [src]="'http://bee.local:5005' + image.imageUrl + '?thumbnail=true'"
            class="product-images-preview__image"
          />
        </div>
      </div>
    </div>

    <div class="util-container product-body">
      <div class="product-info">
        <h2>Kirjeldus</h2>
        <div class="product-price">{{ product.price }} €</div>
        <p>{{ product.description }}</p>
      </div>

      <div>
        <h2 class="product-options__heading">Valikud</h2>
        <form class="product-options">
          <fieldset class="util-form-radio-group">
            <legend class="util-form-label">Värv</legend>
            <label
              *ngFor="let color of product.colors"
              class="util-form-radio"
              [style]="{
                'background-color': color.hexCode,
                color: colorIsDark(color.hexCode)
                  ? 'var(--color-text-accent)'
                  : 'var(--color-text-primary)',
              }"
            >
              <input type="radio" name="color" [value]="color.id" />
              {{ color.name }}
            </label>
          </fieldset>

          <fieldset class="util-form-radio-group">
            <legend class="util-form-label">Suurus</legend>
            <label *ngFor="let size of product.sizes" class="util-form-radio">
              <input type="radio" name="size" [value]="size.id" />
              {{ size.name }}
            </label>
          </fieldset>

          <label>
            <div class="util-form-label">Kogus</div>
            <input type="number" name="amount" min="1" max="20" value="1" />
          </label>

          <button>Lisa korvi</button>
        </form>
      </div>
    </div>
  </div>
</ng-container>
<ng-template #loading>
  <div class="util-container util-container--y-padded">
    <app-loader></app-loader>
  </div>
</ng-template>
