.product-images-preview {
  background-color: var(--color-bg-quaternary);
  margin: var(--spacing-large) 0;
  padding: var(--spacing-large) 0 var(--spacing-medium);
  position: relative;
}

.product-images-preview .util-container {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-medium);
}

.product-images-preview__images {
  display: grid;
  gap: var(--spacing-medium);
  grid-template: auto / repeat(3, 1fr);
  grid-auto-rows: auto;
}

.product-images-preview__image {
  border-radius: var(--border-radius-medium);
  width: 100%;
}

.product-body {
  display: flex;
  gap: var(--spacing-large);
}

.product-body > * {
  width: 100%;
}

.product-info,
.product-options {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-small);
}

.product-price {
  font-weight: var(--font-weight-bold);
}

.product-options__form {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-medium);
}

@container util-container (max-width: 45.99em) {
  .product-images-preview__images {
    grid-template: auto / repeat(2, 1fr);
  }

  .product-body {
    flex-direction: column;
  }
}

@media (max-width: 48em) {
  .product-images-preview__images {
    grid-template: auto / repeat(2, 1fr);
  }

  .product-body {
    flex-direction: column;
  }
}

@container util-container (max-width: 24.99em) {
  .product-images-preview__images {
    grid-template: auto / auto;
  }
}

@media (max-width: 27em) {
  .product-images-preview__images {
    grid-template: auto / auto;
  }
}
