<div>
  <header>
    <nav>
      this will be the nav
      <ul>
        <li>
          <a
            routerLink=""
            routerLinkActive="active"
            ariaCurrentWhenActive="page"
            >Home</a
          >
        </li>
        <li>
          <a
            routerLink="/category"
            routerLinkActive="active"
            ariaCurrentWhenActive="page"
            >Category</a
          >
        </li>
      </ul>
    </nav>
  </header>

  <main>
    <router-outlet />
  </main>
</div>

<footer>this will be the footer</footer>
