*:focus-visible {
  outline: 3px solid var(--color-text-link);
  outline-offset: 4px;
}

html {
  height: 100%;
}

body {
  background-color: var(--color-bg-primary);
  color: var(--color-text-primary);
  font-family: var(--font-family-default);
  font-optical-sizing: auto;
  font-size: var(--font-size-medium);
  font-style: normal;
  font-weight: var(--font-weight-regular);
  height: 100%;
  line-height: var(--line-height-default);
}

h1,
h2,
h3 {
  font-family: var(--font-family-accent);
}

h1 {
  font-size: var(--font-size-xx-large);
  font-weight: var(--font-weight-bold);
}

h2 {
  font-size: var(--font-size-x-large);
  font-weight: var(--font-weight-semibold);
}

h3 {
  font-size: var(--font-size-large);
  font-weight: var(--font-weight-semibold);
}

a {
  color: var(--color-text-link);
  font-weight: var(--font-weight-semibold);
  text-underline-offset: 0.25em;
}

a:hover {
  color: var(--color-text-link--hover);
  text-decoration-thickness: 2px;
}

dialog::backdrop {
  background: var(--color-bg-overlay);
  opacity: 0;
  transition:
    display ease-out var(--transition-time-default),
    overlay ease-out var(--transition-time-default),
    opacity ease-out var(--transition-time-default);
  transition-behavior: allow-discrete;
}

dialog[open]::backdrop {
  opacity: 1;
}

@starting-style {
  dialog[open]::backdrop {
    opacity: 0;
  }
}
