.util-container {
  margin: 0 auto;
  max-width: var(--max-width-page-content);
  padding: 0 var(--spacing-medium);
  width: 100%;
}

.util-subheading {
  color: var(--color-text-secondary);
  font-family: var(--font-family-accent);
  font-size: var(--font-size-large);
}

@media (max-width: 48em) {
  .util-only-large-screens {
    display: none !important;
  }
}

@media (min-width: 48em) {
  .util-only-small-screens {
    display: none !important;
  }
}
