.util-container {
  container-type: inline-size;
  container-name: util-container;
  margin: 0 auto;
  max-width: var(--max-width-page-content);
  padding: 0 var(--spacing-medium);
  width: 100%;
}

.util-container.util-container--y-padded {
  padding: var(--spacing-x-large) var(--spacing-medium) var(--spacing-xx-large);
}

.util-y-padding {
  padding: var(--spacing-x-large) 0 var(--spacing-xx-large);
}

.util-h1-spacing {
  margin: 0 0 var(--spacing-large);
}

.util-subheading {
  color: var(--color-text-secondary);
  font-family: var(--font-family-accent);
  font-size: 1.3rem;
}

.util-info {
  align-items: center;
  display: flex;
  font-weight: var(--font-weight-semibold);
  gap: var(--spacing-small);
  padding: var(--spacing-small) 0;
}

.util-info fa-icon {
  font-size: 1.5rem;
}

.util-sr-only {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.util-form-label {
  font-weight: var(--font-weight-semibold);
  margin-bottom: var(--spacing-small);
  padding: 0;
}

.util-form-error {
  background-color: var(--color-bg-error);
  border-radius: var(--border-radius-small);
  color: var(--color-text-accent);
  display: flex;
  gap: var(--spacing-small);
  padding: var(--spacing-small) var(--spacing-medium);
}

.util-form-radio-group {
  display: flex;
  flex-wrap: wrap;
  gap: var(--spacing-x-small);
}

.util-form-radio {
  border-radius: var(--border-radius-small);
  cursor: pointer;
  display: flex;
  gap: var(--spacing-small);
  padding: var(--spacing-small);
}

.util-form-radio input {
  cursor: pointer;
  flex-shrink: 0;
  height: 1.5rem;
  padding: 0;
  position: relative;
  width: 1.5rem;
}

.util-form-radio input::before {
  background-color: var(--color-bg-primary);
  border: var(--border-form-controls);
  border-radius: 100%;
  content: "";
  inset: 0;
  position: absolute;
  transition: border-color ease-out var(--transition-time-fast);
}

.util-form-radio input::after {
  background-color: var(--color-bg-accent--hover);
  border-radius: 100%;
  content: "";
  inset: 0.375rem;
  position: absolute;
  transform: scale(0);
  transition: transform linear var(--transition-time-fast);
}

.util-form-radio input:checked::before,
.util-form-radio input:focus-visible::before,
.util-form-radio:hover input::before {
  border-color: var(--color-bg-accent--hover);
}

.util-form-radio input:checked::after {
  transform: scale(1);
}

.util-form-radio input:focus-visible {
  outline: none;
}

.util-form-radio:has(input:focus-visible) {
  outline: var(--outline-focus);
  outline-offset: 2px;
}

.util-form-radio input[aria-invalid="true"]::before {
  border-color: var(--color-bg-error);
}

@media (max-width: 48em) {
  .util-only-large-screens {
    display: none;
  }
}

@media (min-width: 48em) {
  .util-only-small-screens {
    display: none;
  }
}

/* TODO: test unsupported browsers on browserstack or an alternative, make sure nothing is super broken */
/* Container queries ensure that content collapses in a satisfactory way when font size is > 100% as well */
@container util-container (max-width: 45.99em) {
  .util-only-small-screens {
    display: unset;
  }

  .util-only-large-screens {
    display: none;
  }
}

@container util-container (min-width: 45.99em) {
  .util-only-small-screens {
    display: none;
  }

  .util-only-large-screens {
    display: unset;
  }
}
