.util-container {
  container-type: inline-size;
  container-name: util-container;
  margin: 0 auto;
  max-width: var(--max-width-page-content);
  padding: 0 var(--spacing-medium);
  width: 100%;
}

.util-container.util-container--y-padded {
  padding: var(--spacing-x-large) var(--spacing-medium) var(--spacing-xx-large);
}

.util-y-padding {
  padding: var(--spacing-x-large) 0 var(--spacing-xx-large);
}

.util-subheading {
  color: var(--color-text-secondary);
  font-family: var(--font-family-accent);
  font-size: 1.3rem;
}

.util-sr-only {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

@media (max-width: 48em) {
  .util-only-large-screens {
    display: none;
  }
}

@media (min-width: 48em) {
  .util-only-small-screens {
    display: none;
  }
}

/* TODO: test unsupported browsers on browserstack or an alternative, make sure nothing is super broken */
/* Container queries ensure that content collapses in a satisfactory way when font size is > 100% as well */
@container util-container (max-width: 45.99em) {
  .util-only-small-screens {
    display: unset;
  }

  .util-only-large-screens {
    display: none;
  }
}

@container util-container (min-width: 45.99em) {
  .util-only-small-screens {
    display: none;
  }

  .util-only-large-screens {
    display: unset;
  }
}
