:root {
  --border-form-controls: 2px solid var(--color-border-primary);

  --border-radius-medium: 0.5rem;
  --border-radius-small: 0.25rem;

  --color-bg-primary: #f7f7ff;
  --color-bg-primary--hover: #e0dfe5;
  --color-bg-secondary: #c9d6ff;
  --color-bg-tertiary: #ffffff;
  --color-bg-quaternary: #eeecf0;
  --color-bg-accent: #260d49;
  --color-bg-accent--hover: #412567;
  --color-bg-accent--active: #180039;
  --color-bg-overlay: #0c051e80;
  --color-bg-shadow: #473d6c33;
  --color-bg-error: #a40c0c;

  --color-border-primary: #a3a2a9;
  --color-border-secondary: #ceced0;

  --color-text-primary: #11091b;
  --color-text-secondary: #473e52;
  --color-text-accent: #f9f5ff;
  --color-text-accent-secondary: #d4cfe5;
  --color-text-link: #19379c;
  --color-text-link--hover: #1340d3;

  --outline-focus: 3px solid var(--color-text-link);

  --font-family-default: "Lora", "Times New Roman", serif;
  --font-family-accent: "Arima", "Times New Roman", serif;

  --font-size-medium: 1rem;
  --font-size-medium-large: 1.3rem;
  --font-size-large: 1.5rem;
  --font-size-x-large: 2rem;
  --font-size-xx-large: 2.5rem;

  --font-weight-regular: 400;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;

  --line-height-default: 1.5;

  --max-width-page-content: 77rem; /* 1232px */

  --spacing-x-small: 0.25rem;
  --spacing-small: 0.5rem;
  --spacing-medium: 1rem;
  --spacing-large: 2rem;
  --spacing-x-large: 3rem;
  --spacing-xx-large: 4rem;

  --transition-time-default: 0.2s;
  --transition-time-fast: 0.1s;
}
