<header class="nav">
  <nav class="util-container nav__container">
    <div class="nav__list-wrapper">
      <a
        class="nav__link"
        routerLink=""
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
        aria-label="Lavendlik logo - avalehele"
        [routerLinkActiveOptions]="{ exact: true }"
        ><app-logo></app-logo
      ></a>

      <div class="util-only-large-screens">
        <ul class="nav__list">
          @for (cat of categories; track cat) {
            <li class="nav__list-item">
              <a
                class="nav__link"
                [routerLink]="'/category/' + cat.name"
                routerLinkActive="active"
                ariaCurrentWhenActive="page"
                [routerLinkActiveOptions]="{ exact: true }"
                >{{ cat.displayName }}</a
                >
              </li>
            }
          </ul>
        </div>
      </div>

      <div class="nav__icon-btns-wrapper">
        <button
          class="nav__link"
          aria-haspopup="dialog"
          aria-expanded="false"
        [attr.aria-label]="
          'Ava ostukorv' +
          ' - ' +
          cartItemTotal +
          (cartItemTotal === 0 || cartItemTotal > 1 ? 'toodet' : 'toode') +
          'korvis'
        "
          (click)="cartPreview.open()"
          >
          <fa-icon [icon]="faBasketShopping"></fa-icon>
          @if (cartItemTotal > 0) {
            <div class="nav__cart-btn-total">
              {{ cartItemTotal }}
            </div>
          }
        </button>

        <app-cart-preview #cartPreview></app-cart-preview>

        <div class="util-only-small-screens">
          <button
            aria-haspopup="dialog"
            aria-expanded="false"
            class="nav__link"
            aria-label="Ava navigatsioonimenüü"
            (click)="openDialog()"
            >
            <fa-icon [icon]="faBars"></fa-icon>
          </button>
        </div>
      </div>

      <dialog
        class="nav__dialog util-only-small-screens"
        aria-label="Navigatsioonimenüü"
        #dialog
        >
        <button
          class="nav__dialog-close-btn"
          aria-label="Sulge navigatsioonimenüü"
          (click)="closeDialog()"
          >
          <fa-icon [icon]="faXmark"></fa-icon>
        </button>

        <h1 class="nav-dialog__heading">Menüü</h1>

        <ul class="nav__list">
          @for (cat of categories; track cat) {
            <li class="nav__list-item">
              <a
                class="nav__link"
                [routerLink]="'/category/' + cat.name"
                routerLinkActive="active"
                ariaCurrentWhenActive="page"
                [routerLinkActiveOptions]="{ exact: true }"
                (click)="closeDialog()"
                >{{ cat.displayName }}</a
                >
              </li>
            }
          </ul>
        </dialog>
      </nav>
    </header>
