<header class="nav">
  <nav class="util-container nav__container">
    <div class="nav__list-wrapper">
      <a
        class="nav__link"
        routerLink=""
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
        aria-label="Lavendlik logo - avalehele"
        [routerLinkActiveOptions]="{ exact: true }"
        ><app-logo></app-logo
      ></a>

      <ul class="nav__list util-only-large-screens">
        <li *ngFor="let cat of categories" class="nav__list-item">
          <a
            class="nav__link"
            [routerLink]="'/category/' + cat.name"
            routerLinkActive="active"
            ariaCurrentWhenActive="page"
            [routerLinkActiveOptions]="{ exact: true }"
            >{{ cat.displayName }}</a
          >
        </li>
      </ul>
    </div>

    <div class="nav__icon-btns-wrapper">
      <a
        class="nav__link"
        routerLink="/cart"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
        [routerLinkActiveOptions]="{ exact: true }"
        ><fa-icon [icon]="faBasketShopping"></fa-icon
      ></a>
      <button
        aria-haspopup="dialog"
        [attr.aria-expanded]="dialogExpanded"
        class="nav__link util-only-small-screens"
        (click)="openDialog()"
      >
        <fa-icon [icon]="faBars"></fa-icon>
      </button>
    </div>

    <dialog
      class="nav__dialog util-only-small-screens"
      #dialog
      (close)="onDialogClose()"
    >
      <button class="nav__dialog-close-btn" (click)="closeDialog()">
        <fa-icon [icon]="faXmark"></fa-icon>
      </button>
      <ul class="nav__list">
        <li *ngFor="let cat of categories" class="nav__list-item">
          <a
            class="nav__link"
            [routerLink]="'/category/' + cat.name"
            routerLinkActive="active"
            ariaCurrentWhenActive="page"
            [routerLinkActiveOptions]="{ exact: true }"
            (click)="closeDialog()"
            >{{ cat.displayName }}</a
          >
        </li>
      </ul>
    </dialog>
  </nav>
</header>
