.nav {
  background-color: var(--color-bg-accent);
}

.nav__container {
  display: flex;
  justify-content: space-between;
}

.nav__list-wrapper {
  display: flex;
}

.nav__list {
  display: flex;
  list-style: none;
  padding: 0;
}

.nav__list-item {
  display: flex;
}

.nav__link {
  color: var(--color-text-accent);
  font-family: var(--font-family-accent);
  font-weight: var(--font-weight-bold);
  padding: var(--spacing-medium);
  text-decoration: none;
  transition: background-color ease-out 0.1s;
}

.nav__link:hover {
  background-color: var(--color-bg-accent--hover);
}

.nav__link[aria-current="page"] {
  background-color: var(--color-bg-accent--active);
  text-decoration: underline;
  text-underline-offset: 0.5em;
}

.nav app-logo {
  height: calc(var(--font-size-medium) * var(--line-height-default));
}
