.nav {
  background-color: var(--color-bg-accent);
}

.nav__container {
  display: flex;
  justify-content: space-between;
}

.nav__list-wrapper,
.nav__icon-btns-wrapper {
  display: flex;
}

.nav__list {
  display: flex;
  list-style: none;
  padding: 0;
}

.nav__list-item {
  display: flex;
}

.nav__link {
  align-items: center;
  background-color: var(--color-bg-accent);
  border: 0;
  border-radius: 0;
  color: var(--color-text-accent);
  display: flex;
  font-family: var(--font-family-accent);
  font-weight: var(--font-weight-bold);
  height: 100%;
  padding: var(--spacing-medium);
  position: relative;
  text-decoration: none;
  transition: background-color ease-out var(--transition-time-fast);
}

.nav__link fa-icon {
  display: flex;
}

.nav__link:hover {
  background-color: var(--color-bg-accent--hover);
}

.nav__link:focus-visible,
.nav__dialog-close-btn:focus-visible {
  outline: 2px solid var(--color-text-accent);
  outline-offset: -2px;
}

.nav__link[aria-current="page"] {
  background-color: var(--color-bg-accent--active);
  text-decoration: underline;
  text-underline-offset: 0.5em;
}

.nav app-logo {
  height: calc(var(--font-size-medium) * var(--line-height-default));
}

.nav__cart-btn-total {
  background-color: var(--color-bg-secondary);
  border-radius: 0 0 0 100%;
  color: var(--color-text-primary);
  min-width: 1.75rem;
  padding: 0 var(--spacing-x-small) 0 var(--spacing-small);
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
  width: max-content;
}

.nav__dialog {
  background-color: var(--color-bg-accent);
  display: none;
  height: 100%;
  inset-inline-end: 0;
  inset-inline-start: auto;
  max-width: 100%;
  min-width: 25%;
  transform: translateX(100%);
  transition:
    transform ease-out var(--transition-time-default),
    display ease-out var(--transition-time-default),
    overlay ease-out var(--transition-time-default);
  transition-behavior: allow-discrete;
  width: 25rem;
  z-index: 10;
}

.nav__dialog[open] {
  display: block;
  transform: translateX(0);
}

@starting-style {
  .nav__dialog[open] {
    transform: translateX(100%);
  }
}

.nav__dialog .nav__list {
  flex-direction: column;
}

.nav__dialog .nav__link {
  width: 100%;
}

.nav__dialog-close-btn {
  align-items: center;
  background-color: var(--color-bg-accent);
  border-radius: 0 0 0 100%;
  color: var(--color-text-accent);
  display: flex;
  height: 3.5rem;
  justify-content: center;
  padding: var(--spacing-medium) var(--spacing-medium) var(--spacing-large)
    var(--spacing-large);
  position: absolute;
  right: 0;
  top: 0;
  transition: background-color ease-out var(--transition-time-fast);
}

.nav__dialog-close-btn fa-icon {
  font-size: 1.25rem;
  display: flex;
}

.nav__dialog-close-btn:hover {
  background-color: var(--color-bg-accent--hover);
}

.nav-dialog__heading {
  color: var(--color-text-accent);
  font-size: var(--font-size-x-large);
  margin: var(--spacing-medium) 4rem var(--spacing-medium) var(--spacing-medium);
}
