<div class="util-container util-container--y-padded privacy-policy">
  <h1>Privaatsuspõhimõtted</h1>

  <p>
    Veebipoe lavendlik.ee isikuandmete vastutav töötleja on Lavendlik OÜ
    (registrikood 17178959, KMKR EE102831245), asukohaga Saare tee 10-2, Põvvatu
    küla, Luunja vald, Tartumaa, Eesti. E-mail: lavendlik&#64;gmail.com
  </p>

  <h2>Milliseid isikuandmeid töödeldakse</h2>
  <ul>
    <li>nimi, telefoninumber ja e-posti aadress;</li>
    <li>kauba kohaletoimetamise aadress;</li>
    <li>pangakonto number;</li>
    <li>
      kaupade ja teenuste maksumus ja maksetega seotud andmed (ostuajalugu);
    </li>
    <li>klienditoe andmed.</li>
  </ul>

  <h2>Mis eesmärgil isikuandmeid töödeldakse</h2>
  <p>
    Isikuandmeid kasutatakse kliendi tellimuste haldamiseks ja kauba
    kohaletoimetamiseks.
  </p>
  <p>
    Ostuajaloo andmeid (ostu kuupäev, kaup, kogus, kliendi andmed) kasutatakse
    ostetud kaupade ja teenuste ülevaate koostamiseks, kliendieelistuste
    analüüsimiseks ning mh tarbijavaidluste lahendamise eesmärgil.
  </p>
  <p>Pangakonto numbrit kasutatakse kliendile maksete tagastamiseks.</p>
  <p>
    Isikuandmeid nagu e-post, telefoni nr, kliendi nimi, töödeldakse selleks, et
    lahendada kaupade ja teenuste osutamise seonduvaid küsimusi (klienditugi).
    E-posti kasutatakse lisaks arvete saatmiseks ning telefoni nr kasutatakse
    pakiautomaati jõudnud kauba teavitamiseks.
  </p>

  <h2>Õiguslik alus</h2>
  <p>
    Isikuandmete töötlemine toimub kliendiga sõlmitud lepingu täitmise eesmärgil
    (kliendi tellimuste haldamine, kohaletoimetamine, kauba ja maksete
    tagastamine) ning seadusjärgse kohustuse täitmiseks (nt raamatupidamine).
  </p>
  <p>
    Isikuandmete töötlemine on vajalik vastutava töötleja õigustatud huvi tõttu,
    mis seisneb võimalike tarbijavaidluste lahendamise eesmärgil ostuajaloo
    andmete kogumises.
  </p>
  <p>Õigustatud huvi analüüsiga tutvumiseks pöörduge e-postile.</p>

  <h2>Vastuvõtjad, kellele isikuandmed edastatakse</h2>
  <p>
    Nimi, telefoninumber ja e-posti aadress edastatakse kliendi poolt valitud
    transporditeenuse pakkujale. Kui tegemist on kulleriga kohale toimetatava
    kaubaga, siis edastatakse lisaks kontaktandmetele ka kliendi aadress.
  </p>

  <h2>Turvalisus ja andmetele ligipääs</h2>
  <p>
    Isikuandmeid hoitakse serverites, mis asuvad Euroopa Liidu liikmesriigi või
    Euroopa Liidu majanduspiirkonnaga liitunud riikide territooriumil.
  </p>
  <p>
    Juurdepääs isikuandmetele on veebipoe töötajatel, kes saavad isikuandmetega
    tutvuda selleks, et lahendada veebipoe kasutamisega seonduvaid tehnilisi
    küsimusi ning osutada klienditoe teenust.
  </p>
  <p>
    Isikuandmete edastamine veebipoe volitatud töötlejatest vastuvõtjatele (nt
    transporditeenuse pakkuja ja andmemajutus) toimub veebipoe ja volitatud
    töötlejatega sõlmitud lepingute alusel. Volitatud töötlejaid on kohustatud
    tagama isikuandmete töötlemisel asjakohased kaitsemeetmed kooskõlas
    isikuandmete kaitse üldmääruse artikliga 28.
  </p>

  <h2>Isikuandmetega tutvumine ja parandamine</h2>
  <p>Isikuandmetega saab tutvuda ja teha parandusi klienditoe vahendusel.</p>

  <h2>Nõusoleku tagasivõtmine</h2>
  <p>
    Kui isikundmete töötlemine toimub kliendi nõusoleku alusel, siis on kliendil
    õigus nõusolek tagasi teavitades sellest kliendituge e-posti teel.
  </p>

  <h2>Säilitamine</h2>
  <p>
    Maksetega ja tarbijavaidlustega seotud vaidluste korral säilitatakse
    isikuandmed kuni nõude täitmiseni või aegumistähtaja lõpuni.
  </p>
  <p>
    Raamatupidamise algdokumentides sisalduvaid isikuandmeid säilitatakse seitse
    aastat.
  </p>

  <h2>Piiramine</h2>
  <p>
    Kliendil on õigus taotleda oma isikuandmete töötlemise piiramist, kui andmed
    on ebaõiged või pole täielikud või kui tema isikuandmeid töödeldakse
    ebaseaduslikult.
  </p>

  <h2>Vastuväited</h2>
  <p>
    Kliendil on õigus esitada vastuväiteid seoses tema isikuandmete
    töötlemisega, kui tal on alust arvata, et tema isikuandmete töötlemiseks
    puudub seaduslik alus.
  </p>

  <h2>Kustutamine</h2>
  <p>
    Isikuandmete kustutamiseks tuleb võtta ühendust klienditoega e-posti teel.
    Kustutamistaotlusele vastatakse mitte hiljem kui kuu aja jooksul ning
    täpsustakse andmete kustutamise perioodi. Vastuses taotlusele tuuakse ka
    välja need isikuandmed, mida ei kustuta ning millisel õiguslikul alusel ja
    põhjusel
  </p>

  <h2>Ülekandmine</h2>
  <p>
    E-posti teel esitatud isikuandmete ülekandmise taotlusele vastatakse
    hiljemalt kuu aja jooksul. Klienditugi tuvastab isikusamasuse ja teavitab
    isikuandmetest, mis kuuluvad ülekandmisele.
  </p>

  <h2>Vaidluste lahendamine</h2>
  <p>
    Isikuandmete töötlemisega seotud vaidluste lahendamine toimub klienditoe
    vahendusel (lavendlik&#64;gmail.com). Järelevalveasutus on Eesti Andmekaitse
    Inspektsioon (info&#64;aki.ee).
  </p>
</div>
