<div class="util-container util-container--y-padded terms-conditions">
  <h1>Müügitingimused</h1>

  <p>
    Veebipoe lavendlik.ee (edaspidi Veebipood) omanik on Lavendlik OÜ
    (registrikood 17178959, KMKR EE102831245), asukohaga Saare tee 10-2, Põvvatu
    küla, Luunja vald, Tartumaa, Eesti.
  </p>

  <h2>Müügilepingu kehtivus, kauba- ja hinnainfo</h2>
  <p>Müügitingimused kehtivad Veebipoest kaupade ostmisel.</p>
  <p>
    Veebipoes müüdavate toodete hinnad on märgitud toodete juurde. Hinnale
    lisandub tasu kauba kättetoimetamise eest. Kauba kättetoimetamise tasu
    sõltub ostja asukohast ning kättetoimetamise viisist. Kättetoimetamise tasu
    kuvatakse ostjale tellimuse vormistamisel.
  </p>
  <p>Teave kauba kohta on esitatud Veebipoes vahetult kauba juures.</p>

  <h2>Tellimuse vormistamine</h2>
  <p>
    Kauba tellimiseks tuleb lisada soovitud tooted ostukorvi. Tellimuse
    vormistamiseks tuleb täita nõutud andmeväljad ning valida sobiv toodete
    kohaletoimetamise viis. Seejärel kuvatakse ekraanile tasu suurus, mille saab
    tasuda pangalingi kaudu või muu makselahenduse abil.
  </p>
  <p>
    Leping jõustub alates tasumisele kuuluva summa laekumisest Veebipoe
    arvelduskontole.
  </p>
  <p>
    Kui tellitud kaupa ei ole võimalik tarnida seoses kauba lõppemisega või muul
    põhjusel, teavitatakse sellest ostjat esimesel võimalusel ning tagastatakse
    tasutud raha (sh kauba kättetoimetamise kulud) üldjuhul 1-2 tööpäeva
    jooksul. Sõltuvalt makseviisist võib laekumine aega võtta kuni 7 tööpäeva.
  </p>

  <h2>Kohaletoimetamine</h2>
  <p>Kaupu saadetakse järgmistesse riikidesse: Eesti.</p>
  <p>
    Kauba saatmiskulud kannab ostja ning vastav hinnainfo on kuvatud
    saatmisviisi juures.
  </p>
  <p>
    Eestisisesed saadetised jõuavad üldjuhul ostja määratud sihtpunkti 3-7
    tööpäeva jooksul alates müügilepingu jõustumist.
  </p>
  <p>
    Erandlikel juhtumitel on õigus kaup kohale toimetada kuni 30 kalendripäeva
    jooksul. Kui Veebipood on veebilehel või tellimuse kinnituses teavitanud
    ostjat tarneprobleemidest ja 30 kalendripäeva ületavast tähtajast, kohaldub
    Veebipoe poolt avaldatud tähtaeg.
  </p>

  <h2>Taganemisõigus</h2>
  <p>
    Pärast tellimuse kättesaamist on ostjal õigus e-poes sõlmitud lepingust
    taganeda 14 päeva jooksul. Taganemisõigus ei kohaldu, kui ostjaks on
    juriidiline isik.
  </p>
  <p>
    14-päevase tagastamisõiguse kasutamiseks ei tohi tellitud kaupa kasutada
    muul viisil kui on vajalik kauba olemuses, omadustes ja toimimises
    veendumiseks viisil nagu see on lubatud kauba testimiseks füüsilises poes.
    Kui kaupa on kasutatud muuks otstarbeks kui on vajalik kauba olemuses,
    omadustes ja toimimises veendumiseks või sellel on kasutamise või kulumise
    märke, on Veebipoel õigus alandada tagastatavat tasu vastavalt kauba
    väärtuse vähenemisele.
  </p>
  <p>
    Kauba tagastamiseks tuleb esitada kauba ostmisest taganemise avaldus ning
    saata see Veebipoe e-posti aadressile hiljemalt 14 päeva jooksul kauba
    kättesaamisest.
  </p>
  <p>
    Kauba tagastamise kulud kannab ostja, välja arvatud juhul, kui tagastamise
    põhjus seisneb asjaolus, et tagastamisele kuuluv asi ei vasta tellitule (nt
    vale või defektiga asi). Ostja peab kauba tagastama avalduse esitamisele
    järgneva 14 päeva jooksul või esitama tõendi, et ta on eelnimetatud perioodi
    jooksul kauba üle andnud kauba vedajale.
  </p>
  <p>
    Veebipood tagastab tagastatava kauba kättesaamisel ostjale viivitamata, kuid
    mitte hiljem kui 14 päeva möödumisel arvates taganemisavalduse saamisest,
    kõik ostjalt lepingu alusel saadud tasud. Veebipood võib keelduda
    tagasimaksete tegemisest seni, kuni on lepingu esemeks oleva asja tagasi
    saanud või kuni ostja on esitanud tõendid, et on asja tagasi saatnud,
    sõltuvalt sellest, kumb toimub varem.
  </p>
  <p>
    Kui ostja on sõnaselgelt valinud Veebipoe pakutud kõige odavamast
    tavapärasest asja kättetoimetamise viisist erineva kättetoimetamise viisi,
    ei pea Veebipood tarbijale tagastama kulu, mis ületab tavapärase
    kättetoimetamise viisiga seotud kulu.
  </p>
  <p>
    Veebipoel on õigus taganeda müügitehingust ning nõuda ostjalt tagasi kaup,
    kui kauba hind veebipoes on eksituse tõttu märgitud oluliselt alla kauba
    turuhinna.
  </p>

  <h2>Pretensiooni esitamise õigus</h2>
  <p>
    Veebipood vastutab ostjale müüdud kauba lepingutingimustele mittevastavuse
    või puuduse eest, mis oli olemas juba asja üleandmise hetkel ning mis ilmneb
    kuni kahe aasta jooksul, alates kauba üleandmisest ostjale. Sellest esimese
    aasta jooksul asja üleandmisest ostjale eeldatakse, et puudus oli olemas
    juba asja üleandmise ajal. Vastava eelduse ümberlükkamine on Veebipoe
    kohustus.
  </p>
  <p>
    Ostjal on õigus puuduse ilmnemisel pöörduda hiljemalt kahe kuu jooksul
    veebipoe poole, saates e kirja aadressile lavendlik&#64;gmail.com.
  </p>
  <p>
    Veebipood ei vastuta puuduste eest, mis on tekkinud pärast kauba üleandmist
    tarbija tegevuse või tegevusetuse tõttu (vale kasutusviis, õnnetusjuhtum
    vms) või kui tegemist on asja tavapärasest kasutamisest tingitud normaalse
    kulumisega. Kui Veebipoest ostetud kaubal on puudused, mille eest Veebipood
    vastutab, parandab või asendab Veebipood puudusega kauba. Kui kaupa ei ole
    võimalik parandada ega asendada, tagastab Veebipood ostjale kõik
    müügilepinguga kaasnenud tasud.
  </p>
  <p>
    Veebipood vastab tarbija esitatud kaebusele kirjalikult või kirjalikku
    taasesitamist võimaldavas vormis 15 päeva jooksul.
  </p>

  <h2>Vaidluste lahendamine</h2>
  <p>
    Kui ostjal on Veebipoe osas pretensioone, tuleb need saata e-kirja
    aadressile lavendlik&#64;gmail.com.
  </p>
  <p>
    Kui ostja ja Veebipood ei suuda lahenda vaidlust kokkuleppe teel, siis on
    ostjal võimalik pöörduda Tarbijavaidluste komisjoni poole. (<a
      href="https://ttja.ee/tarbijavaidluste-komisjon"
      >Menetlustingimused</a
    >) Tarbijavaidluste komisjoni pädevuses on lahendada ostja ja Veebipoe vahel
    sõlmitud lepingust tulenevaid vaidlusi. Ostja kaebuse läbivaatamine
    komisjonis on tasuta. Ostja võib pöörduda Euroopa Liidu tarbijavaidlusi
    lahendava platvormi poole.
  </p>
</div>
